<div class="container mt-5">
  <div class="row justify-content-center">
   <div class="col-12 col-sm-12 col-md-6 col-lg-6">
     <div class="card">
       <div class="card-header text-center">
         <h2>İşveren Profili Güncelle</h2>
        </div>
       <div class="card-body">
        <h5>Kategori Seçiniz</h5>
         <select class="form-select form-select-lg mb-3"(change)="selectedListKey($event.target)" name="category" #category >
          <option>Lütfen Seçiniz.</option>
           <option *ngFor="let categori of categories" >{{categori?.name}}</option>
         </select>
         <h5>Alt Kategori Seçiniz</h5>
         <select class="form-select form-select-lg mb-3" (change)="selectedListKey2($event.target)"  name="subCategory" #subCategory>
          <option>Lütfen Seçiniz.</option>
           <option *ngFor="let subCategory of subCategories">{{subCategory?.name}}</option>
         </select>
          <h5>Beceri Seçiniz</h5>
          <select class="form-select form-select-lg mb-3" name="yetenek" #subcategory2>
            <option>Lütfen Seçiniz.</option>
            <option *ngFor="let subCategory2 of subCategories2">{{subCategory2?.name}}</option>
          </select>
       </div>
   </div>
   <div class="card mt-2">
     <div class="card-body">
      <label><h5>Kendinizi Tanıtın</h5></label>
      <textarea class="form-control" name="ozgecmis" rows="5" #ozgecmis ngModel [(ngModel)]="nowUser.ozgecmis"></textarea>
     </div>
   </div>

   <div class="d-grid gap-2 col-12 mx-auto mt-2">
    <button class="btn btn-primary" (click)="updateProfile(category.value, subCategory.value, subcategory2.value, ozgecmis.value)">Güncelle</button>
  </div>
  </div>
 </div>
 </div>
