<div class="container mt-5">
  <div class="col-12">
    <div class="row justify-content-center">
      <h1>Ara ve Bul'da İşler Hızlı ve Güvenilir!</h1>
    </div>
    <hr />
    <div class="row justify-content-center">
      <h1>1.</h1>
      <p>Web sitemize üye olarak kullanıcı girişi yaparsınız.</p>
      <h1>2.</h1>
      <p>
        Verilen kategorilerden seçim yaparak kendi profilinizi güncellersiniz.
      </p>
      <h1>3.</h1>
      <p>
        İster diğer iş verenler ile isterse freelancer çalışanlar ile
        mesajlaşarak iletişime geçersiniz.
      </p>
      <h1>4.</h1>
      <p>
        Farklı şekilde kendi işlerinizi "İş ekle" bölümünden oluşturabilir.
        Diğer kullanıcıların sizinle iletişime geçmesini sağlayabilirsiniz.
      </p>
      <h1>5.</h1>
      <p>
        Yarattığınız işlerle alakalı olarak dosyaları 'dosyalarım' bölümüne
        ekleyebilir. Bu dosyaları diğer kullanıcılar arasında paylaşabilirsiniz.
      </p>
    </div>
  </div>
</div>
