<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h3>Kategori Seçiniz</h3>
      <select class="form-select" (change)="selectedListKey($event.target)" #category>
        <!-- <option>Lütfen Seçiniz.</option> -->
        <option *ngFor="let category of categories">{{category?.name}}</option>
      </select>
      <!-- <button class="btn btn-primary toast-bottom-center mt-2">Ara</button> -->
    </div>
    <div class="col-md-3">
      <h3>Bölüm Seçiniz</h3>
      <select class="form-select" (change)="selectedListKey2($event.target)" #subCategory>
        <option *ngFor="let subCategory of subCategories">{{subCategory?.name}}</option>
      </select>
      <!-- <button class="btn btn-primary toast-bottom-center mt-2">Ara</button> -->
    </div>
    <div class="col-md-3">
      <h3>Yetenek Seçiniz</h3>
      <select class="form-select" #subCategory2>
        <option *ngFor="let subCategory2 of subCategories2" >{{subCategory2?.name}}</option>
      </select>
      <!-- <button class="btn btn-primary toast-bottom-center mt-2" (click)="listProfile(subCategory2.value)">Ara</button> -->

    </div>
    <div class="d-grid gap-2 mt-2">
      <button class="btn btn-primary" (click)="listProfile(category.value, subCategory.value, subCategory2.value)" >Ara</button>
    </div>
  </div>
  <h5 class="text-center mt-5">Çalışanlarımız</h5>
  <hr>
  <div class="row mt-2 justify-content-center">
    <div class="col-3 col-md-3 col-" *ngFor="let profile of profiles">
      <div class="card" >
        <div class="card-header">
          <h6 class="text-center">{{profile.type}} <br></h6>
          <h3 class="text-center">
            {{profile.ad}}
            {{profile.soyad}}
          </h3>
        </div>
        <div class="card-body align-self-center">
          <img class="img-thumbnail" src="{{profile.photoUrl}}" style="width: 250px; height: 250px; align-self: center;">
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-primary" (click)="navigateProfile(profile.userID)" >Detay</button>
          </div>
          <!-- [routerLink]="['profile',profile.userID]" -->
        </div>
      </div>
    </div>
  </div>
</div>
