<div class="container mt-2">
  <div class="row" >
    Alıcı UID: {{aliciuid}} <br>
  Gönderici UID: {{gondericiuid}} <br>
  <div class="card mx-2 mt-2" *ngFor="let message of messageList2">

    <div class="card-body" >
      <p class="lead" >
        Mesaj: {{message?.body}}
      </p>
    </div>
  </div>
  </div>


  <div class="input-group mt-2 mb-3 align-bottom">
    <input type="text" class="form-control" placeholder="Mesajınızı Yazınız." aria-label="Recipient's username" aria-describedby="button-addon2" #message>
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="sendMessage(message.value)">Gönder</button>
  </div>
</div>
