<div class="container mt-5">

  <!-- Alıcı UID: {{aliciuid}} <br>
  Gönderici UID: {{gondericiuid}} <br> -->

  <div style="height:700px;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <div class="card mx-2 mt-2" *ngFor="let message of messageRoom?.messages" [ngClass]="changeColor(message)">
      <div class="card-header mt-2" >
        <img src="{{message?.gondericifoto}}" class="img-thumbnail" style="width: 75px; height: 75px;">
        {{message?.gondericiadi}} : {{message?.body}}
        <h6 class="text-end">{{message?.kayTarih | date:'dd.MM.yyyy HH.mm.ss'}}</h6>
      </div>
      <!-- <div class="card-body">
        {{message?.body}}
      </div> -->
    </div>
  </div>


  <div class="input-group mt-2 mb-3 align-bottom">
    <input type="text" class="form-control" placeholder="Mesajınızı Yazınız." aria-label="Recipient's username" aria-describedby="button-addon2" #message>
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="sendMessage(message.value)">Gönder</button>
  </div>

</div>




