<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ job?.name }}
            <div class="text-end" style="color: red">
              Fiyat {{ job?.price }} ₺
            </div>
          </h5>
          <p class="card-text">{{ job?.desc }}</p>
          <p class="card-text">
            <small class="text-muted">{{
              job?.date | date: "dd.MM.yyyy"
            }}</small>
          </p>
          <h5></h5>
        </div>
        <img
          src="{{ job?.photoUrl }}"
          class="card-img-bottom"
          style="max-height: 25rem"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="row justify-content-center">
        <div class="card mt-2" style="width: 18rem">
          <img src="{{ job?.user?.photoUrl }}" class="card-img-top" />
          <div class="card-body">
            <!-- <h6 class="card-title text-center">{{profile.type}}</h6> -->
            <h5 class="card-title text-center">
              {{ job?.user?.ad }} {{ job?.user?.soyad }}
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item text-center"
              *ngIf="job?.user?.bolum?.length != 0 ? true : false"
            >
              {{ job?.user?.bolum }}
            </li>
            <li
              class="list-group-item text-center"
              *ngIf="job?.user?.bolum?.length != 0 ? true : false"
            >
              {{ job?.user?.altKategori }}
            </li>
          </ul>
          <div class="card-body">
            <div class="d-grid gap-2">
              <button
                class="btn btn-primary"
                (click)="navigateProfile(job?.user?.userID)"
              >
                Profili Ziyaret Et
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
