<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card alert alert-info">
        <div class="card-body">
          <h1 class="display-6">Çevrenizdeki en iyi işler!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Kategori Seçiniz</h3>
          <select
            class="form-select"
            (change)="selectedListKey($event.target)"
            #category
          >
            <option>Lütfen Seçiniz.</option>
            <option *ngFor="let category of jobCategories">
              {{ category?.name }}
            </option>
          </select>
        </div>
        <div class="card-body">
          <h3 class="text-center">Bölüm Seçiniz</h3>
          <select class="form-select" #subCategory>
            <option>Lütfen Seçiniz.</option>
            <option *ngFor="let subCategory of jobSubCategories">
              {{ subCategory?.name }}
            </option>
          </select>
        </div>
        <div class="card-body">
          <h3 class="text-center">Teslim Tarihi Seçiniz</h3>
          <select class="form-select" #time>
            <option>Lütfen Seçiniz.</option>
            <option>1 gün içinde</option>
            <option>3 gün içinde</option>
            <option>7 gün içinde</option>
            <option>Herhangi bir gün</option>
          </select>
        </div>
        <div class="card-footer">
          <div class="d-grid col-12 gap-2 mt-2">
            <button
              class="btn btn-primary"
              (click)="listJob(category.value, subCategory.value, time.value)"
            >
              Ara
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-9">
      <div class="row">
        <div
          class="card mx-3 mt-2"
          style="width: 18.5rem; min-width: 10rem"
          *ngFor="let job of jobs"
        >
          <img
            src="{{ job.photoUrl }}"
            class="card-img-top"
            style="max-height: 10rem"
          />
          <hr />
          <div class="row justify-content-center" style="max-height: 50px">
            <div class="col-3">
              <img
                src="{{ job?.user?.photoUrl }}"
                style="height: 50px"
                class="rounded"
              />
            </div>
            <div class="col">
              <h6>
                {{ job?.user?.ad }} {{ job?.user?.soyad }}
                <hr />
                {{ job?.user?.yetenekler }}
              </h6>
            </div>
          </div>
          <div class="card-body">
            <hr />
            <h5 class="card-title text-center">{{ job.name }}</h5>
            <hr />
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" (click)="navigateJob(job.key)">
                {{ job?.price }} ₺
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
